.panel{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 24px;    
}

button{
    width: 175px;     
}

.fa{
    margin: 0 10px;
    cursor: pointer;
}
